.btn {
  display: flex;
  font-family: 'IBM Plex Sans', sans-serif;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  border: none;
  width: fit-content;
  cursor: pointer;
  border-radius: var(--radius);
  padding: 2px 8px;
}

.btn-md {
  padding: 8px 16px;
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: var(--brand100);
  transition: var(--transition-default);
}

.btn-primary:hover {
  background-color: var(--brand200);
  transition: var(--transition-default);
}

.btn-primary:disabled {
  background-color: var(--gray600);
  color: var(--gray400);
}

.btn-outline {
  font-weight: 500;
  background-color: var(--gray900);
  border: 1px solid var(--gray600);
  transition: var(--transition-default);
}

.btn-outline:hover {
  font-weight: 500;
  background-color: var(--gray800);
  transition: var(--transition-default);
}

#loading__spinner {
  width: 16px;
  height: 16px;
  animation: spinner 1s infinite linear;
}

.btn-link {
  padding: 0;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}

.btn-grey {
  background-color: var(--gray600);
  color: var(--gray400);
  transition: var(--transition-default);
}

.btn-grey:hover {
  color: var(--gray300);
  transition: var(--transition-default);
}

.btn-alert {
  background-color: var(--alert100);
  transition: var(--transition-default);
}

.btn-alert:hover {
  background-color: var(--alert200);
  transition: var(--transition-default);
}