.pets-icon {
  border-radius: 12px;
  object-fit: cover;
}

.width-90 {
  max-width: 100%;
  width: 90px;
}

.height-90 {
  max-width: 100%;
  height: 90px;
}

.user-icon {
  width: 40px;
  height: 40px;
}

.user-icon-post {
  width: 32px;
  height: 32px;
}

.icon-border {
  border-radius: 100%;
  border: 1px solid var(--brand100);
}

.exit-icon {
  background-image: url("../src/icon/right-from-bracket.svg");
  background-position: center;
  background-size: 100%;
  width: 18px;
  height: 18px;
}