.modal-bg {
  background-color: rgba(30, 30, 30, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-container {
  background-color: var(--gray900);
  width: 40%;
  position: relative;
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;
  animation: modalAppear 1s ease-in;
}

.modal-disappear {
  animation: modalOut 1s ease-in;
}

.modal-close {
  padding: 5px 10px;
  font-size: 14px;
  position: absolute;
  top: 20px;
  right: 24px;
  cursor: pointer;
}